.jumbotron {
  padding-top: 5rem;
  background-color: #bcceee;
}
#project {
  background-color: #bcceee;
}
section {
  padding-top: 5rem;
}
.circle-image {
  border-radius: 50%; /* Membuat gambar menjadi lingkaran sempurna */
  object-fit: cover; /* Memastikan gambar terisi dengan rapi tanpa distorsi */
  width: 200px; /* Sesuaikan ukuran jika perlu */
  height: 200px; /* Pastikan tinggi dan lebar sama untuk lingkaran sempurna */
}
