.jumbotron {
  padding-top: 5rem;
  background-color: #bcceee;
}
#project {
  background-color: #bcceee;
}
section {
  padding-top: 5rem;
}
.circle-image {
  border-radius: 50%; 
  object-fit: cover; 
  width: 200px; 
  height: 200px; 
}

